<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ template "_internal/google_analytics.html" . }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{- with .Params.image -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- else -}}
{{- with .Site.Params.sidebar_avatar -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- end -}}
{{- end -}}

<!-- Twitter -->
<meta name="twitter:card" content="{{ if .Params.image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{- with .Params.image -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- else -}}
{{- with .Site.Params.sidebar_avatar -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end -}}
{{- end -}}
{{- with .Site.Params.twitter -}}
<meta name="twitter:creator" content="@{{ . }}">
{{- end -}}

<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ if .Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const theme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'default';
        mermaid.initialize({ startOnLoad: true, theme: theme });
    });
</script>
{{ end }}

{{ partial "schema.html" . }}
